# Backend Environment Variables
NODE_ENV=development
PORT=4000
DATABASE_URL=mongodb://admin:password@mongo:27017/vedicdb?authSource=admin

# JWT Configuration
JWT_SECRET_KEY=3a7b5f9c2d4e6a8b0d1e3f5c7a9b2d4r3454r8a0b1c3d5e7f9a2b4c6d8e0f1a3b5
JWT_EXPIRES_IN=24h

# CORS Configuration
CORS_ORIGIN=http://localhost:3001

# Database Configuration
DB_NAME=vedicdb
DB_HOST=mongo
DB_PORT=27017
DB_USER=admin
DB_PASSWORD=password

# Default Admin User (required for production)
ADMINISTRATION_EMAIL=vedicmedix@gmail.com
ADMINISTRATION_PASSWORD=vedic@4!3$2
ADMINISTRATION_FIRSTNAME=Vedic
ADMINISTRATION_LASTNAME=Medix
ADMINISTRATION_ORG=vedicmedix